version: '3.8'

services:
  # Servidor Web (PHP + Apache)
  web:
    build: .
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
    depends_on:
      - db

  # Base de Datos (MySQL)
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_PASSWORD:  ${DB_PASSWORD}
      MYSQL_USER:       ${DB_USER}
      MYSQL_DATABASE:  ${DB_NAME}
    volumes:
      - db_data:/var/lib/mysql

  # phpMyAdmin (Para gestionar la BD visualmente)
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db

volumes:
  db_data: